
<ejs-treegrid #grid [dataSource]='data' 
id="gridcomp" 
[contextMenuItems]="contextMenuItems" 
[selectionSettings]='selectOptions'
childMapping='subtasks'
allowReordering='true'
(contextMenuClick)='contextMenuClick($event)'
(contextMenuOpen)="contextMenuOpen($event)"

(queryCellInfo)='queryCellInfo($event)' (headerCellInfo)='headerCellInfo($event)'
[allowResizing]='true'  
[treeColumnIndex]='1' [columns]='columns'  [pageSettings]='pageSettings' [editSettings]='editing' [toolbar]='toolbar'>

</ejs-treegrid>
<!-- <div>
  <ejs-contextmenu #contextmenu  [items]='menuItems'  (select)='select($event)'  (beforeItemRender)='itemRenderRows($event)' (beforeOpen)="contextMenuOpen($event)"  (beforeClose)='beforeCloserows($event)'></ejs-contextmenu>
</div> -->

<div>
<ejs-contextmenu #headercontextmenu target=".e-gridheader"
 (select)='select($event)'   id='contextmenu'  [items]= 'headermenuItems' (beforeItemRender)='itemRender($event)' (beforeOpen)="contextMenuOpen($event)" (beforeClose)='beforeClose($event)'></ejs-contextmenu>
</div>

<ejs-dialog id="reactDialog" #FormDialog  [isModal]='true' [visible]='false' width='400' style="max-height:100%!important;"
[showCloseIcon]='true' target='body'
>
<form id="reactive" [formGroup]="form">
  <div class="form-group" style="padding-top: 11px;">
      <div class="e-float-input">
          <input type="text" id="fieldName" name="fieldName" class="required" formControlName="fieldName">
          <span class="e-float-line"></span>
          <label class="e-float-text e-label-top" for="name">Field Name</label>
      </div>
      <!-- <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="* Please Enter your name">
      </app-field-error-display> -->
  </div>

  <div class="form-group" style="padding-top: 11px;">
      <div class="e-float-input">
          <input type="text" id="headerText" name="headerText" class="required" formControlName="headerText">
          <span class="e-float-line"></span>
          <label class="e-float-text e-label-top" for="email">headerText</label>
      </div>
      <!-- <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="* * Enter your email address">
      </app-field-error-display> -->
  </div>

  <div class="form-group" style="padding-top: 11px;">
      <div class="e-float-input">
          <input type="number" id="columnwidth" name="columnwidth" class="required" formControlName="columnwidth">
          <span class="e-float-line"></span>
          <label class="e-float-text e-label-top" for="contact">Column width</label>
      </div>
      <!-- <app-field-error-display [displayError]="isFieldValid('contact')" errorMsg="* Enter your contact number">
      </app-field-error-display> -->
  </div>

  
<div class="form-group" style="padding-top: 11px;">
  <div class="e-float-input">
    <ejs-dropdownlist id='ddlelement' #ddlelement [dataSource]='dropdowndata' placeholder="Column Data Type"  id="columndataType" formControlName="columndataType" name="columndataType" [fields]='fields' ></ejs-dropdownlist>
    <span class="e-float-line"></span>
    <!-- <label class="e-float-text e-label-top" for="columndataType">Column Data Type</label> -->
  </div>
  <!-- <app-field-error-display [displayError]="isFieldValid('contact')" errorMsg="* Enter your contact number">
  </app-field-error-display> -->
</div>

<div class="form-group" style="padding-top: 11px;">
  <div class="e-float-input">
    <input type="text" id="fontsyle" name="fontsyle" class="required" formControlName="fontsyle">

    <span class="e-float-line"></span>
    <label class="e-float-text e-label-top" for="contact">Font Style</label>
  </div>
  <!-- <app-field-error-display [displayError]="isFieldValid('contact')" errorMsg="* Enter your contact number">
  </app-field-error-display> -->
</div>
  <!-- <div class="form-group upload-area" style="padding-top: 11px;">
      <div class="e-float-input upload-area">
          <input type="text" id="upload" name="upload" [(ngModel)]="uploadInput" readonly formControlName="upload" class="required">
          <span class="e-float-line"></span>
          <label class="e-float-text e-label-top" for="upload">Choose a file</label>
      </div>
      <button id="browse" class="e-control e-btn e-info" (click)='browseClick()'>Browse...</button>
      <ejs-uploader #defaultupload id='fileupload' allowedExtensions="image/*" [autoUpload]=false [multiple]='multiple' (selected)='onFileSelect($event)'></ejs-uploader>
      <app-field-error-display [displayError]="isFieldValid('upload')" errorMsg="* Select any file">
      </app-field-error-display>
  </div> -->
  <div class="form-group" style="padding-top: 11px;">
    <div class="submitBtn">
      <button class="submit-btn e-btn" id="submit-btn" [disabled]="form.invalid" (click)= "Submit()">Submit</button>
      <div class="desc"><span>*This button is not a submit type and the form submit handled from externally.</span></div>
    </div>
  </div>
</form>
</ejs-dialog>
<router-outlet></router-outlet>
<!-- 
https://stackblitz.com/edit/angular-ppnz6j-jf874g?file=app.component.html
https://stackblitz.com/edit/angular-g2lb8t-1e52zs?file=app.component.ts
https://stackblitz.com/edit/angular-q1xzrh?file=app.component.ts -->
